

body {
    background-color: black;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    border-radius: 15px;
    box-sizing: border-box; 
}


.web_name {
    font-size: 24px; /* Adjust the font size as needed */
    margin-left: 23px; /* Move the webapp name to the left corner */
    color: #15ff00;
}

.search-input {
    background-color: black;
    color: black;
    border: 2px solid #15ff00;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    height: 28px;
    width: 440px;
}






.search-container {
    text-align: center;
    flex-grow: 1;
}


.show-upload-form,
.close-upload-form {
    background-color: black;
    color: #15ff00;
    border: 2px solid #15ff00;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right : 27px;
}

.show-upload-form {
    margin-left: 10px;
}

.upload-form {
    display: none;
    background-color: #111;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.close-upload-form {
    position: absolute;
    top: 10px;
    right: 15px;
}

.pdf-preview {
    max-width: 230px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
    box-sizing: border-box;
}

.pdf-preview:hover {
    transform: scale(1.1);
}

.pdf-preview embed {
    width: 100%;
    height: 230px;
    border-radius: 15px;
    border: 2px solid #15ff00;
    padding: 2px;
}

.pdf-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

.pdf-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 80px;
    gap: 35px;
    justify-content: center;
}

h1,
h2 {
    color: #fff;
}

form {
    color: #fff;
}

